

.register-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  }
  .register-form>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }


  .error-message{
    color:red;
    margin-top: -19px;
  }

  .register-button{
    color: #fff;
    background-color: #2196f3;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .register-button:disabled{
    background-color: #6d6d6d;
    color: #b8b4b4;
    cursor: no-drop;
  }

  :local(.vkButton){
    background: #2196f3;
    color: #fff;
    font-weight: 800;
    border-radius: 50%!important;
    margin-top: 15px;
    padding: 10px;
  }

  :local(.errorContainer){
    border-bottom: 2px solid #a56767;
    padding: 10px 20px;
    background: #f7f0f0;
    color: #3f4257;
    border-radius: 2px;
    margin-bottom: 20px;
  }