:local(.eventItem){
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 400;
    height: 40px;
    width: 100%;
    color: #fff;
    background: #1f8be0;
    white-space: nowrap;
    border-bottom: 1px solid #00000061;
  }

  :local(.eventItem > span:first-child){
    overflow: hidden;
    width: 290px;
  }
:local(.edit){
  padding: 10px;
  padding-right: 0;
}