/* CUSTOMISE REACT CALENDAR */

.react-calendar{
    background: #2196f3!important;
    align-self: center;
    margin-top: 135px;
    border: none;
    color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12)

  }
  .circle::before{
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background:rgb(34, 47, 238);
    border-radius: 50%;
  }

  .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus,.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus{
    background-color: #57a7f9!important
  }
  .react-calendar__navigation button{
    color: #fff;
  }
  .react-calendar__month-view__weekdays__weekday{
    font-weight: 400;
  }
  .react-calendar__tile{
    color:#fff;
  }
  .react-calendar__month-view__days__day--weekend{
    color: #ff0000;
  }
  .react-calendar__month-view__days__day--neighboringMonth{
    color: #4c656f;
  }

  .calendar-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .calendar-container>*{
    margin-bottom: 20px;
  }
