.p-0{
  padding: 0;
}

.m-0{
  margin: 0;
}

.d-block{
  display: block;
}

.main-content{
  position: relative;
  height: 100vh;
  width: 100%;
  background: #b1c7e8;
}

.default-input{
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  background: #f4f5f7;
}
.file{
  padding: 0;
  background:#b1c7e8;
}

.container{
  box-sizing:border-box;
  max-width: 992px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.event-list::-webkit-scrollbar { width: 0; }

.event-list { -ms-overflow-style: none; }

.event-list { overflow: -moz-scrollbars-none;}