.p-0{
  padding: 0;
}

.m-0{
  margin: 0;
}

.d-block{
  display: block;
}

#root {
  background: #b1c7e8;
}

.main-content{
  position: relative;
  height: 100vh;
  width: 100%;
  background: #b1c7e8;
}

.default-input{
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  background: #f4f5f7;
}
.file{
  padding: 0;
  background:#b1c7e8;
}

.container{
  box-sizing:border-box;
  max-width: 992px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}
.success-button {
  color: #fff;
  background: #84f875;
  border: none;
  width: 40px;
  font-size: 32px;
  margin-right: 20px;
}
.create-button{
  color: #fff;
  background: #052900;
  border: none;
  width: 40px;
  font-size: 32px;
}
.cancel-button {
  color: #fff;
  background: #f87575;
  border: none;
  width: 40px;
  font-size: 32px;
  margin-right: 20px;
}
.addNewEvent-create-button{
  align-self: center;
    padding: 10px;
    background: #42ca9d;
    border-radius: 3px;
    border: none;
    color: white;
}
